<div class="heroCnt">
  <div class="hero">
    <div class="container">
      <h1 class="hero__heading">
        <span>Hola, soy</span><span class="hero__name">Cristian Soria</span>
      </h1>
      <div class="hero__img">
        <img src="../../../../assets/images/hero5.png" alt="heroImg" />
      </div>
      <div class="hero__info">
        <app-p-text
          text="Desarrollador web pasionado por la imprementación de soluciones
        creativas"
        ></app-p-text>
        <app-button text="Ver mis proyectos" link="/projects"></app-button>
        <div class="hero__social">
          <div class="hero__social__indicator">
            <p>Follow</p>
            <img
              src="../../../../assets/images/social-media-arrow.svg"
              alt="icon"
            />
          </div>
          <div class="hero__social__text">
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/in/crissoria/"
                  target="_blank"
                  rel="noreferrer"
                >
                  <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/CrisSoria"
                  target="_blank"
                  rel="noreferrer"
                >
                  <fa-icon [icon]="faGithubSquare" class="fa-2x"></fa-icon>
                </a>
              </li>
              <li>
                <a
                  href="https://t.me/CrisSoria"
                  target="_blank"
                  rel="noreferrer"
                >
                  <fa-icon [icon]="faTelegramPlane" class="fa-2x"></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="hero__scrollDown">
          <p>Scroll</p>
          <img
            src="../../../../assets/images/scroll-down-arrow.svg"
            alt="ScrollDown Arrow"
          />
        </div>
      </div>
    </div>
  </div>
</div>
