<div class="servicesSection">
  <div class="container">
    <app-section-title
      subheading="¿Qué puedo hacer por vos?"
      heading="Servicios"
    ></app-section-title>
    <div class="services__allItems">
      <app-service-item
        [icon]="desktop"
        title="front end"
        desc="Desarrollo de interfaz de usuario UI. Creación de interacciones de elementos UX. Posicionamiento de la marca de tu empresa SEO. Responsive Design."
      ></app-service-item>

      <app-service-item
        [icon]="terminal"
        title="back end"
        desc="Desarrollo de API REST. Deployment de server y database. Bases de datos relacionales y no relacionales."
      ></app-service-item>

      <app-service-item
        [icon]="mobile"
        title="app Dev"
        desc="Desarrollo de aplicaciones nativas para IOS y Android"
      ></app-service-item>
    </div>
  </div>
</div>
