<form
  class="form-wrapper"
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit($event)"
>
  <div class="form-group">
    <label htmlFor="name">
      Tu Nombre

      <span
        *ngIf="name?.invalid && (name?.dirty || name?.touched)"
        class="alertErr"
        >{{ errorHandler("name") }}</span
      >

      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        [class.inputError]="name?.invalid && (name?.dirty || name?.touched)"
      />
    </label>
  </div>
  <div class="form-group">
    <label htmlFor="email">
      Tu Email

      <span
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="alertErr"
        >{{ errorHandler("email") }}</span
      >

      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        [class.inputError]="email?.invalid && (email?.dirty || email?.touched)"
      />
    </label>
  </div>
  <div class="form-group">
    <label htmlFor="message">
      Tu mensaje

      <span
        *ngIf="message?.invalid && (message?.dirty || message?.touched)"
        class="alertErr"
        >{{ errorHandler("message") }}</span
      >

      <textarea
        type="text"
        id="message"
        name="message"
        formControlName="message"
        [class.inputError]="
          message?.invalid && (message?.dirty || message?.touched)
        "
      ></textarea>
    </label>
  </div>
  <button
    type="submit"
    class="boton"
    [ngClass]="{ invalidBoton: !contactForm.valid }"
  >
    <span>Enviar</span>
  </button>
  <span *ngIf="sendEmailStatus === 'success'" class="submitOkMessage">
    ¡Gracias por contactarme!
  </span>
  <span *ngIf="sendEmailStatus === 'fail'" class="submitErrorMessage">
    Error por favor elije otro medio de contacto
  </span>
  <span *ngIf="sendEmailStatus === 'processing'" class="submitProcessMessage">
    procesando ...
  </span>
</form>
