<div class="contactSectionCnt">
  <div class="container">
    <app-section-title
      heading="contact"
      subheading="¡Encantado de conocerte!"
    ></app-section-title>
    <div class="contactSection__wrapper">
      <div class="left">
        <app-contact-info-item
          [icon]="phone"
          text="+543876004180"
        ></app-contact-info-item>
        <app-contact-info-item
          text="crissoria07@gmail.com"
        ></app-contact-info-item>
        <app-contact-info-item
          [icon]="mark"
          text="Salta, Argentina"
        ></app-contact-info-item>
      </div>
      <div class="right">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div>
