<div class="mapWrapper">
  <div class="container">
    <div class="map__card">
      <h3 class="map__card__heading">Estoy aquí</h3>
      <app-p-text text="Salta Capital, Salta, Argentina"></app-p-text>
      <a
        class="map__card__link"
        href="https://www.google.com/maps/place/Salta/@-24.7960685,-65.500669,12z/data=!3m1!4b1!4m5!3m4!1s0x941bc3a35151b7f9:0xa5cd992cd587f206!8m2!3d-24.7821269!4d-65.4231976"
        target="_blank"
        rel="noreferrer"
      >
        Abrir en google map
      </a>
    </div>
  </div>
</div>
